name: Tests Runner
on: push
jobs:
  linux-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    name: Linux test for ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install pytest
          pip install -r requirements.txt
      - name: Build and install
        run: python setup.py install --user
      - name: Test
        run: pytest
  windows-test:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    name: Windows test for ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          channels: conda-forge
      - name: Install dependencies
        run: conda install cmake openblas zlib numpy pytest
      - name: Build
        run: python setup.py install --user
      - name: Test
        run: pytest
  macos-test:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]
    name: MacOS test for ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install CMake
        uses: lukka/get-cmake@latest
      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install pytest
          pip install -r requirements.txt
      - name: Build and install
        run: python setup.py install --user
      - name: Test
        run: pytest
